# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================

venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Logs
# ==============================

logs/
*.log

# ==============================
# ML / RAG
# ==============================

vector_store/
ml/__pycache__/
app/__pycache__/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Testing
# ==============================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==============================
# Build
# ==============================

dist/
build/
*.egg-info/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# Node
node_modules/
dist/

#frontend
frontend/.vite/

# Local development
*.local